<div class="p-2 d-flex flex-column align-items-center">
    <!-- In the future will be linked to other pages- yes will go to sprite choice page -- no will display the play again component -->
    <!-- Might be converted into buttons in the future, rather than links -->
    <h5 class="p-2">{{question}}</h5>
    <div class="form-check m-1">
        <input class="form-check-input" [(ngModel)]="answer" type="radio" name="answers" id="answer1" [value]="answer1" checked>
        <label class="form-check-label">
          {{answer1}} 
        </label>
      </div>
      <div class="form-check m-1">
        <input class="form-check-input " [(ngModel)]="answer" type="radio" name="answers" id="answer2" [value]="answer2">
        <label class="form-check-label">
          {{answer2}} 
        </label>
      </div>
      <div class="form-check m-1">
        <input class="form-check-input" [(ngModel)]="answer" type="radio" name="answers" id="answer3" [value]="answer3">
        <label class="form-check-label">
          {{answer3}} 
        </label>
      </div>
      <div class="form-check m-1">
        <input class="form-check-input"  [(ngModel)]="answer" type="radio" name="answers" id="answer4" [value]="answer4">
        <label class="form-check-label">
          {{answer4}} 
        </label>
      </div>
      <button (click)="compareAnswers()" class="m-2 btn btn-primary">Submit</button>
      <p class="m-2 choice text-center column"> {{testNumber}} Answering this question correctly will deal {{questionAttack}} damage.</p>
    </div>


    <!-- 
        We will need to pull a random question with its answers and the correct answer from the database
            we will need to assign the correct answer to a local variable
            
        
        We will need to compare the selected question with the (correctanswer) from the database -- 
        if true, we will need to decrease enemyhp which is stored as a variable by the question value and show the user they got it correct
                   will need a check to see if enemy is defeated

                        if enemy is defeated, increase (enemycurrentlyfighting) in the database by 1 and pull the enemy data for that new id
                            if no new enemy is found, show winner route

        if false, we will need to decrease player hp (update database too) by enemy attack value and provide the correct answer to the user
                    will need a check to see if player is defeated
        submit button will need to change to "next question" or display a next question link
        after submit button is clicked, we will need to display next question and set of answers and do this again. 
        need a boolean for a while statement (whileplaying) to loop through this while player is playing
        need a (click) for the button to do the check and display based on an if>then

        Need a (click) to move to the next question
        will need enemy data stored to local variables
        will need enemycurrentlyfighting to update when enemy is defeated


    -->