<div class="p-2 d-flex flex-column align-items-center">
  
  <h5 class="p-2">{{question}}</h5>
  <div class="form-check m-1">
    <input class="form-check-input" [(ngModel)]="answer" type="radio" name="answer1" id="answer1" [value]="answer1" checked>
    <label class="form-check-label">
      {{answer1}} 
    </label>
  </div>
  <div class="form-check m-1">
    <input class="form-check-input " [(ngModel)]="answer" type="radio" name="answer2" id="answer2" [value]="answer2" >
    <label class="form-check-label">
      {{answer2}} 
    </label>
  </div>
  <div class="form-check m-1">
    <input class="form-check-input" [(ngModel)]="answer" type="radio" name="answer3" id="answer3" [value]="answer3" >
    <label class="form-check-label">
      {{answer3}} 
    </label>
  </div>
  <div class="form-check m-1">
    <input class="form-check-input"  [(ngModel)]="answer" type="radio" name="answer4" id="answer4" [value]="answer4" >
    <label class="form-check-label">
      {{answer4}} 
    </label>
  </div>
  <!-- hidden component to reset selection -->
  <div class="form-check m-1">
    <input class="form-check-input"  [(ngModel)]="answer" type="radio" name="hidden" id="hidden" [value]="hidden" hidden>
    <label class="form-check-label" hidden>
      {{hidden}} 
    </label>
  </div>
  <button (click)="compareAnswers()" class="m-2 btn btn-primary">Submit</button>
  <button (click)="saveAndLogout()" class="m-2 btn btn-secondary">Save/Logout</button>
      <h6>{{correct}}</h6>
      <p class="m-2 choice text-center column"> Answering this question correctly will deal {{questionAttack}} damage.</p>
      <p class="m-2 choice text-center column"> Otherwise you will take damage from the enemy.</p>
    </div>
    