.game-over {
    margin: 3rem;
    width: max-content;
    background-color: white;
}

.character-defeat{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.img-container { 
    text-align: center; 
}


.border-box-fight
{
    
    box-sizing:border-box;
    border: .2rem solid green;
    align-self: center;
    width:100vw;
    background-color: white;

    
    
}

button 
{
    max-width: 10rem;
}


@media screen and (min-width: 800px) {
    .border-box-fight {
        width:75vw;
    }
  }

  @media screen and (min-width: 1200px) {
    .border-box-fight {
        width:65vw;
    }
  }

