.footer
{
    background-color: lightslategray;
    position: fixed;
    bottom: 0rem;
    right: auto;
    width: 100vw;
}
.colum1
{
    position: relative ;
    bottom: 0rem;
    left: 6rem;
    padding: auto;
    margin: 0rem;
}
.spacer{
    margin-bottom: 2rem;
    visibility: hidden; 
  }