
<div class="d-flex flex-column align-items-center">
    
    <p class= "p1 text-center"><b>
        <div>
        <h3 class="purpose-head text-center">Welcome to Monster Trivia! </h3>
        </div>
        <p class="purpose-body text-center">Login to defeat mythical monsters with your knowledge of math and science.</p>
        <h3 class="instruct-head text-center">How to play</h3>
        The objective of this game is to defeat the monsters by answering questions correctly. If you defeat all the monsters,you will get rewarded.
        But if you don't, you will get another chance to defeat  them. To start click on signup in the menu or <a (click)="goToSignUp()" style="cursor: crosshair;">Click here</a>.
        Have Fun and Enjoy the game!
        <div class="test">
        </div>
        </b>
    
</div>





<app-login></app-login>

