<div class="home">
    <h3 class="purpose-head">Welcome to Dungeon Questionnaire </h3>
    <p class="purpose-body">Enter the dungeon to defeat the mithical monsters with your knowledge of math and science.</p>

    <h3 class="instruct-head">How to play</h3>
    <p class="instruct-body">The object of the game is to defeat the monsters by answering questions correctly. If you defeat all the monsters,you will get rewarded.
        But if you don't, you will get another chance to defeat them. To start click on signup in the menu or <a (click)="goToSignUp()" style="cursor: crosshair;">Click here</a>.
        Have Fun and Enjoy the game.
    </p>

</div>





<app-login></app-login>

