<div class="d-flex flex-column align-items-center">
<h2 class="game-over text-center">Congratulations!!!!</h2>
</div>

<div class="d-flex flex-column align-items-center">
    <div class="border-box-gameover">
        
        <h4 class=" character-defeat text-center">Your character has defeated all the enemies!</h4>
        
        <div class="img-container"><img  width="35%" src="..\assets\images\playerreward.png" alt="winner trophy on a wooden table" /></div>

       <app-upgradetext></app-upgradetext>

       


    </div>

</div>


