.choice{
    margin-top: 1.5rem;
}


@media screen and (min-width: 200px) {
    * {
      font-size: .5rem;
    }
  }

  @media screen and (min-width: 400px) {
    * {
      font-size: .6rem;
    }
  }


@media screen and (min-width: 600px) {
    * {
      font-size: .7rem;
    }
  }

  @media screen and (min-width: 800px) {
    * {
      font-size: .9rem;
    }
  }

  @media screen and (min-width: 800px) {
    * {
      font-size: .9rem;
    }
  }