<div class="d-flex flex-column align-items-center">
<h2 class="game-over text-center" >See you soon!</h2>
</div>

<div class="d-flex flex-column align-items-center">
        

        <h4 class=" character-defeat text-center">Character has been saved!</h4>
        <p class=" character-defeat ">Total Wins: {{userVictories}}</p>
        
        <div class="text-center d-flex flex-column align-items-center">

            <div class="outer-div">
                <div class="img-container d-flex flex-column align-items-center">
                    <img [src]="viewSpriteURL" alt="Player's chosen sprite" />
                </div>
                <p class="m-2 choice text-center column"> {{playerName}}</p>
                <p class="m-2 choice text-center column"> HP: {{playerHP}}</p>
            </div>
        <button (click)="goToHome()" class="btn btn-primary m-3">Home</button>
            </div>

</div>

