<!-- <div class="d-flex flex-column align-items-center"> -->
    <div class="loginform ">
        <div class="email d-flex flex-column align-items-center">
            <label for="staticEmail" id="emailLabel text-center" >Email</label>
            <input type="text"  id="staticEmail" value="email@example.com">
        </div>
    
        <div class="mb-3 row d-flex flex-column align-items-center">
            <label for="inputPassword" id="passwordLabel ">Password</label>
            <input type="password" class="pass-form-control" id="inputPassword">
        </div>
        <div class="col-auto d-flex flex-column">
            <button type="submit" class="btn btn-primary mb-3 ">Login</button>

            <!--
                ==Things to do==
                    1. When player clicks login redirect to fight page.
                    2. check to see if username and password are the same
                    3. set username to session storage 
                    4. if not the same give error.

            -->
            <a class="nav-link" (click)="goToSignUp()">Sign up</a>     
        </div> 
         
    </div>
<!-- </div> -->