.choice{
    margin-top: 1.5rem;
}

.outer-div {
    padding:1rem;
    height:16rem;
    width: 100%;
    margin-right:.5rem;

}

.img-container {
    height: 200rem;
    width: 14rem;
}

img {
    min-width: 107%;
   max-width: 107%;
    max-height: 100%;
}

