.choice{
    margin-top: 1.5rem;
}

.outer-div {
    border:black solid .1rem;
    padding:1rem;
    height:16rem;
    width: 100%;
    margin-right:.5rem;

}

.img-container {
    height: 10rem;
    width: 8rem;
}

img {
    min-width: 115%;
   max-width: 115%;
    max-height: 100%;
}

