<h2 class="game-over text-center">Game Over</h2>


<div class="d-flex flex-column align-items-center">
    <div class="border-box-gameover">
        
        <h4 class=" character-defeat text-center">Your character has been defeated!</h4>
        
        <div class="img-container"><img  width="35%" src="https://thumbs.dreamstime.com/b/sign-game-over-dollars-bills-wood-background-concept-bankruptcy-gambling-fraud-bribe-65194971.jpg" alt="game over sign with a wooden background and dollar bills in the background as well" /></div>

        <app-play-again></app-play-again>


    </div>

</div>
